@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    box-sizing: border-box;

    font-family: montserrat, system-ui, sans-serif;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 4em;

    color: white;
    background: no-repeat linear-gradient(60deg, #2b0100, #000);

}

.logo {
    height: 2em;
}

h1 {
    font-weight: 600;
}

i {
    color: white;
    font-size: 2em;

    cursor: pointer;
}

nav {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;

    padding: 0;

    width: 100vw;
    height: 100vh;

    background: no-repeat linear-gradient(60deg, #2b0100, #000);
}

.close {
    position: absolute;
    top: 2em;
    right: 2em;

    cursor: pointer;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
}

menu li {
    list-style: none;

    font-size: 1.2rem;
    font-weight: 500;

    cursor: pointer;
}
