@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    box-sizing: border-box;

    font-family: montserrat, system-ui, sans-serif;
    line-height: 1.5;
}

html {
    background: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 2em;

    color: white;
    background: no-repeat linear-gradient(60deg, #2b0100, #000);

}

.logo {
    height: 2em;
}

h1 {
    font-weight: 600;
}

i {
    color: white;
    font-size: 2em;

    cursor: pointer;
}

nav {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;

    padding: 0;

    width: 100vw;
    height: 100vh;

    background: no-repeat linear-gradient(60deg, #2b0100, #000);
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:visited {
    color: inherit
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;

    cursor: pointer;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
}

menu li {
    list-style: none;

    font-size: 1.2rem;
    font-weight: 500;

    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    gap: 4em;

    padding: 1.5em;

    background: white;
}

section > div {
    display: grid;
    gap: 2em;

    grid-auto-flow: column;
    grid-auto-columns: 25ch;

    overflow-x: auto;
}

h2 {
    font-size: 1.1rem;
}

figure img {
    width: 100%;
}

figcaption {
    display: flex;
    justify-content: space-between;

    padding: 0 .5em;
}

.model {
    font-weight: 500;
}

.price {
    color: #960000;
    font-weight: 600;
}
